@import '../../index';

table {
	width: 80%;
	border: 2px solid $react-light;
	margin: auto;
	border-collapse: collapse;
	thead {
		border: inherit;
	}
	tbody {
		border: inherit;
		tr:hover {
			td, th {
				.cross {
					display: unset;
					color: red;
				}
			}
		}
	}
	tfoot {
		border: inherit;
	}
	tr {
		border: inherit;
		th {
			border: inherit;
		}
		td {
			border: inherit;
		}
	}
	.table-input {
		width: 90%;
	}
	.number {
		width: 32px;
	}
	.measure {
		width: 72px;
	}
	.quantity {
		width: 56px;
	}
	.cross {
		display: none;
		position: absolute;
		cursor: pointer;
	}
	.delete-row {
		//transform: translateX(24px);
	}
	.delete-section {
		//transform: translateX(24px);
	}
	tfoot tr > th:first-child {
		text-align: left;
	}
}