@import '../../index';

table {
	width: 80%;
	border: 2px solid $react-light;
	margin: auto;
	border-collapse: collapse;
	thead {
		border: inherit;
	}
	tbody {
		border: inherit;
		tr:hover {
			td, th {
				//:not(:only-child)
				.delete-row, .delete-section {
					visibility: unset;
					//transition: .1s;
				}
			}
		}
	}
	tfoot {
		border: inherit;
	}
	tr {
		border: inherit;
		th {
			border: inherit;
		}
		td {
			border: inherit;
			button {
				margin: 4px;
			}
		}
	}
	.cross {
		visibility: hidden;
		cursor: pointer;
		//transition: .1s;
		color: red;
	}
	.subsection-price, .subsection-title, .section-price {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	.cross-cell {
		border-color: transparent;
		padding-left: 4px;
	}
	.delete-row {
		//transform: translateX(24px);
	}
	.delete-section {
		//transform: translateX(24px);
	}
	tfoot tr > th:first-child {
		text-align: left;
	}
}