$blue: #0169ad;
$blue-light: #0084c5;
$red: #d02237;

$react-dark: #282c34;
$react-turquoise: #61dafb;
$react-light: #868D9A;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  min-width: 120px;
  margin: 16px 16px 16px 0;
  border: 1px solid $react-dark;
  border-radius: 4px;
  outline: none;
  min-height: 24px;
  background: $react-turquoise;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  &:focus {
    border-color: $react-turquoise;
  }
  &:disabled {
    border: 2px solid $react-light;
    background: unset;
    cursor: not-allowed;
  }
}